@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --primary-color:#5d5f95;
  --light-primary-color:#6769a6;
}

*{
  font-family: 'Montserrat', sans-serif;
}
body,html{
  margin: 0;
  padding: 0;

}

a {
  text-decoration: none !important;
  color: var(--primary-color);
}

.flex_container {
  display: flex;
}

.justifier_navbar {
  justify-content: space-between;

}
.divider {
  height: 2px;
  background-color: #e7e7e7;
  max-width: 600px;
  margin: 10px auto;
}
.rounded_card{
  padding: 20px;
  background:#e6e2e2;
  border-radius: 20px;
  margin-right: 20px;
  box-shadow: 2px 2px 5px 5px #e7e7e7;

}
.rounded_card:hover{
  
}

.logo_wrapper{
  border: 3px solid var(--primary-color);
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  padding: 5px;
  letter-spacing: 5px;
  background: var(--light-primary-color);
  color: #fff;
}
.navbar{
  background: #accc;
  padding: 20px;

}
.nav_item{
  font-weight:bold ;
}

/* profile part */
.profile_image{
  height:200px ;
  width: 200px;
  border-radius: 50%;
  background-image: url('./../images/girl.jpg');
  background-size: cover;
  background-position: center;


}

.primary_button{
  cursor: pointer;
  margin-top:10px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: bold;
  box-shadow: 5px 5px 10px 5px #cbc6e1;
  transition: all 0.5s;
}
.primary_button:hover{
  padding: 18px;
}


